body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://static5.businessinsider.com/image/5cb29c83d2ce782ec044cdf7-2000/2013-05-19t120000z1344752933gm1e95k00a001rtrmadp3usa-obama.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
